@using System.Threading.Tasks
@using Microsoft.ApplicationInsights.Extensibility
@using Microsoft.AspNetCore.Identity
@using LibraryWebApp.Models
@using System.Collections.Generic

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  Your Nearest Library</title>
    <link rel="icon" type="image/gif" href="/images/logo.png" />
    <link rel="stylesheet" href="css/site.css"/>
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body >
<nav id="coloring" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img class="img-responsive" src="/images/logo.png" id="logoConfig"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-tabs">
                <li><a asp-area="" asp-controller="Member" asp-action="Index" id="navbarTextColor">Books</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About" id="navbarTextColor">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact" id="navbarTextColor">Contact</a></li>
                <li><a href="#">Link</a></li>
                
                @if(User.Claims.Any(s => s.Value.Equals("Admin"))){ 
                <li class="dropdown">
                    <a id="navbarTextColor" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Managing<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a asp-area="" asp-controller="Admin" asp-action="Add" id="navbarTextColor">Add/Delete book</a></li>

                        <li><a asp-area="" asp-controller="Admin" asp-action="Users" id="navbarTextColor">Manage users</a></li>
                        <li><a asp-area="" asp-controller="Admin" asp-action="Admins" id="navbarTextColor">Manage admins</a></li>
                        <li><a asp-area="" asp-controller="Admin" asp-action="Mailmans" id="navbarTextColor">Manage mailmen</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                }



                

            </ul>
            <form class="navbar-form navbar-left" style="padding-top: 15px">
                <div class="form-group" >
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button id="navbarButton" type="submit" class="btn btn-primary">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right nav-tabs">
                @if (!SignInManager.IsSignedIn(User))
                {
                    <li><a asp-area="" asp-controller="Account" asp-action="Register" id="navbarTextColor">Register</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Login" id="navbarTextColor">Log In</a></li>
                }
                else
                {
                    <li><a id="navbarTextColor">Hello @UserManager.GetUserName(User)!</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="navbarTextColor" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a asp-area="" asp-controller="Member" asp-action="MojePosudbe" id="navbarTextColor">My books</a></li>
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Something else here</a></li>  
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Settingss</a></li>
                            @if (SignInManager.IsSignedIn(User))
                            {

                                <li><a asp-area="" asp-controller="Account" asp-action="LogOff" id="navbarTextColor">Log off</a></li>

                            }
                        </ul>
                    </li>
                }
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


@RenderBody() 



<!--await Html.PartialAsync("_LoginPartial") -->
<div id="footer">
        <p>&copy; 2016 - LibraryWebApp</p>
 </div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">
        
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

@RenderSection("scripts", required: false)
</body>

</html>
