@model LibraryWebApp.Models.Book

@{
    ViewData["Title"] = "BookView";
}

<!DOCTYPE html>

<h2 style="margin-top: 100px;">Book Details</h2>

<div>
    @if (Model != null)
    {
            <p>
                
                <select class="form-control" id="StudentGender" name="StudentGender">
                    <option>Select Genre</option>
                    <option>zanr 1</option>
                    <option>zanr 2</option>
                </select>

                Naslov: @Model.Title
                <br>
                Autor: @Model.Writer.FirstName @Model.Writer.LastName<br>
                Genre: Nek bude zasad prazno<br>
                About:<br>
                <h5 style="margin-left: 30px">
                    @Model.About<br>
                </h5>
                Dostupno za posuðivanje: @Model.BorrowCounter<br>
                Dostupno za kupnju: @Model.SaleCounter<br>
                   
                <input type="submit" value="Posudi knjigu" class="btn btn-primary btn-lg"  onclick="location.href='@Url.Action("BorrowBook", "Member",new { id = @Model.BookId })'" />
                <input type="submit" value="Kupi knjigu-dodaj u kosaricu" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("BuyBook", "Member",new { id = @Model.BookId })'" />

            </p>
    }
</div>
<div>
    @Html.ActionLink("Edit", "Index", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

