@model List<Posudba>

@{
    ViewData["Title"] = "Borrowed books";
}

<h1>Borrowed books</h1>

<form asp-action="MojePosudbe">
    @if (Model != null)
    {
        <h2>Active borrows:</h2>
        foreach (var item in Model)
        {
            if (item.Active && !item.ZaCart && !item.ZaKupnju)
            {
                <p>
                @item.Title, @item.Writer.FirstName @item.Writer.LastName, @item.DanPosudbe.ToShortDateString() - @item.DanVracanja.ToShortDateString()
                <a asp-controller="Member" asp-action="Produzi" asp-route-id="@item.Book.BookId">Produzi rok</a>
            </p>
            }

        }
        <h2>Waiting for delivery:</h2>
        foreach (var item in Model)
        {
            if (item.ZaDostaviti)
            {
                <p>
                    @item.Title, @item.DanPosudbe.ToShortDateString() - @item.DanVracanja.ToShortDateString()
                </p>
            }

        }
        <h2>All:</h2>
        foreach (var item in Model)
        {
            if (!item.ZaCart && !item.ZaKupnju)
            {
                <p>
                    @item.Title, @item.DanPosudbe.ToShortDateString() - @item.DanVracanja.ToShortDateString()
                </p>
            }

        }
        
    }
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<div>
    <a asp-action="GetBasket">My shopping cart</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
