@model List<Posudba>

@{
    ViewData["Title"] = "Moje Posudbe";
}

<h1>Moje posudbe</h1>

<form asp-action="MojePosudbe">
    @if (Model != null)
    {
        <h2>Aktivne posudbe:</h2>
        foreach (var item in Model)
        {
            if (item.Active)
            {
                <p>
                @item.Title, @item.DanPosudbe - @item.DanVracanja
                <a asp-controller="Member" asp-action="Produzi" asp-route-id="@item.Book.BookId">Produzi rok</a>
            </p>
            }

        }
        <h2>Sve posudbe:</h2>
        foreach (var item in Model)
        {
            <p>
                @item.Title, @item.DanPosudbe - @item.DanVracanja
            </p>

        }
        
    }
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
