@model List<Book>

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Admin Acc</title>
</head>
<body>
<div>
    <h3 style="text-align: center">
        <a asp-action="Add">Add new Book!</a>
    </h3>
    

    @if (Model != null)
    {
        <h1>Books:</h1>
        foreach (var item in Model)
        {
            <p>Ime knjige: @item.Title Pisac: @item.Writer.FirstName @item.Writer.LastName Kolicina: @item.Counter
            <a asp-controller="Admin" asp-action="DeleteBook" asp-route-id="@item.BookId">Delete Book</a></p>

        }
    }

</div>
</body>
</html>